profiles {
    conda {
        conda.cacheDir = '/mnt/SA127/methylation/conda'
    }
    singularity {
        singularity.cacheDir     = '/mnt/SA127/methylation/singularity/cache'
        singularity.libraryDir   = '/mnt/SA127/methylation/singularity/cache'
        singularity.pullTimeout  = '6 hours'
    }
}

process {
    executor = 'slurm'
    queue = 'cpu'

    withName: 'CELLBENDER_REMOVEBACKGROUND*' {
        env.KMP_DUPLICATE_LIB_OK = 'TRUE'
    }
    withName: 'CELLTYPES_CELLTYPIST' {
        executor = 'local'
    }
    withName: 'CELLDEX_FETCHREFERENCE'{
        executor = 'local'
    }
    withLabel:process_high_memory {
        memory = { 128.GB * task.attempt * params.memory_scale }
    }
}

params {
    celltypist_model = 'Human_PF_Lung'
}